
.order-container{
    width: 45%;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
h2{
    font-size: 35px;
}
img{
    height: 100px;
    width: auto;
}

button{
    width: 35px;
    height: 35px;
}